body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(98, 98, 226);
}

#main {
    background-color: #fff;
    margin: auto;
    width: 50%;
    /* padding: 10px; */
}

#header {
    color: aliceblue;
    background-color: rgb(158, 158, 236);
    padding: 10px;
}

h1 {
    text-align: center;
}

#content {
    background-color: aliceblue;
    padding: 10px;
}

#users, #posts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    padding: 3px;
}

.user-hover:hover {
    cursor: pointer;
}

#user-follow {
    color: blue;
}

#user-unfollow {
    color: red;
}

#create-post-div {
    height:auto; 
    margin:0 auto; 
}

#create-post {
    width:50%; 
    margin:0 auto;
}

.post {
    border: 1px solid blue;
    background-color: rgb(158, 158, 236);
    padding: 5px;
    width: 400px;
    margin-top: 40px;
}

.post-id {
    font-size: 10px;
    font-style: italic;
}

.post-content {
    font-size: 20px;
    padding: 5px;
}

.post-likes {
    color: blue;;
}

.comment {
    margin-top: 20px;
    width: 360px;
    background-color: rgb(98, 98, 226);
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    align-items: center;
}